.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.textContainer {
  font-size: 13px;
  color: #9E9E9E;
  text-align: center;
  line-height: 25px;
}